html,
body {
    margin: 0;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
    list-style:none;
}

.menu a {
    text-decoration: none;
    list-style:none;
}

.menu li{
    list-style:none;
    margin-top: 20px;
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: #6338f0;
    min-height: 150px;
    display: flex;
}

#funcionamento {
text-align: center;
    border: ridge 1px black;
    box-shadow: 19px 20px 37px 0px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 19px 20px 37px 0px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 19px 20px 37px 0px rgba(0, 0, 0, 0.62);

}

table thead th {
    background-color: black;
    color: aliceblue;
}

table tfoot td {
    background-color: gray;
}

table tbody tr:nth-child(even) {
    background-color: rgb(127, 187, 255);
}

table tbody tr:hover {
    background-color: rgb(89, 249, 196);
    cursor: pointer;
}